$color-primary: #154776;
$color-secondary: #57718c;
$white: #fff;
$black: #000;
$gray: #cdcdcd;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  position: relative
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-secondary;
  }
}

.more {
  text-align: right;
}

.gform_button {
  border: .25rem solid $white;
  padding: 1rem;
  background-color: $color-primary;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: $color-secondary;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  height: 100%;
  padding: 1.5rem 0;

  @media (max-width: 1200px) {
    max-width: 90%;
  }  
}

header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  @media (max-width: 1200px) {
    max-width: 90%;
  }

  &.front {
    border-bottom: 1px solid $color-primary;
  }

  .logo {
    a {
      display: block;
      img {
        display: block;
        max-width: 275px;
      }
    }
  }

  nav {
    .close {
      display: none;
    }
    ul {
      display: inline;
      margin: 0;
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 1rem;
        a {
          color: $color-primary;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      &.social {
        li {
          a {
            color: #00aced;
          }
        }
      }
    }
    @media (max-width: 992px) {
      position: absolute;
      top: 0;
      right: -50%;
      width: 50%;
      padding: 2rem;
      background-color: $color-primary;
      z-index: 9;
      height: 100%;
      transition: .5s right ease-in-out;
      
      &.open {
        // transform: translateX(-100%);
        right: 0;
      }

      .close {
        display: block;
        font-size: 1.5rem; 
        color: $white;
        text-align: right;
      }


      ul {
        li {
          z-index: 10;
          display: block;
          margin: 1rem 0;
          font-size: 1.5rem; 
          a {
            color: $white;
          }
        }
      }
    }
  }

  .mobile-menu {
    display: none;
    color: $color-primary;
    @media (max-width: 992px) {
      display: block;
    }
  }
}

main {

  section {

    &.header {
      position: relative;
      h2 {
        font-size: 3rem;
        @media (max-width: 992px) {
          font-size: 1.5rem;
        }
      }
      .feature-image {
        position: relative;
        margin-bottom: 1.5rem;
        img {
          display: block;
          z-index: 1;
          object-fit: cover;
          max-height: 300px;
          width: 100%;
          height: 100%;
        }
      }

      &.issue {
        h1 {
          font-size: 3rem;
          margin: 0;
        }
        .feature-image {
          margin: 1rem 0 0 0;
        }
        .intro {
          font-size: 1.25rem;
          line-height: 1.5;
        }
      }

      &.news {
        h1 {
          font-size: 3rem;
          margin: 0;
        }
      }

      &.home {
        margin: 1.5rem 0;
        height: 500px;
        .container {
          padding: 0;
          display: flex;
          justify-content: flex-end;
          .shadow {
            justify-content: space-between;
            align-content: flex-end;
            flex-direction: column;
            display: flex;
            padding: 1.5rem;
            background-color: rgba($black, .45);
            width: 35%;
            height: 100%;
            @media (max-width: 1200px) {
              width: 45%;
            }
            @media (max-width: 992px) {
              width: 100%;
            }

            h2 {
              display: inline-block;
              text-align: right;
              font-size: 2.1rem;
              z-index: 2;
              position: relative;
              margin: 0;
              color: $white;
              @media (max-width: 1200px) {
                // font-size: 2.25rem;
              }
            }
            .button {
              align-self: flex-end;
              position: relative;
              // padding: 5px;
              // margin: .5rem;
              z-index: 2;
              text-align: right;
              font-size: .75rem;
              @media (max-width: 1200px) {
                font-size: 1rem;
                // max-width: 75%;
              }

    
              a {
                border: .1rem solid $white;
                padding: 1rem;
                background-color: $color-primary;
                display: inline-block;
                text-transform: uppercase;
                text-decoration: none;
                color: $white;
                font-weight: 700;
                &:hover {
                  background-color: $color-secondary;
                }
              }
            }
          }
          .feature-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 500px;
            z-index: -1;

            &::before {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              // background-color: rgba($white, .4);
            }
            img {
              display: block;
              z-index: 1;
              object-fit: cover;
              min-height: 500px;
              height: 100%;
            }
          }
        }
      }
    }

    &.intro {
      font-size: 1.25rem;
      line-height: 1.5;
    }

    &.issues {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        grid-template-areas: 'title title title';
        padding: 1.5rem 0;
        
        @media (max-width: 992px) {
          grid-template-columns: 1fr;
          grid-template-areas: 'title';
        }

        h2 {
          grid-area: title;
          font-size: 2rem;
          margin: 0;
        }
        .issue {
          position: relative;
          h3 {
            z-index: 2;
            margin: 0;
            padding: .5rem;
            position: absolute;
            top: 0;
            left: 0;
            color: $white;
            background-color: rgba($black, .8);
          }
          img {
            z-index: 1;
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 300px;
            display: block;
          }
        }
      }
    }

    &.posts {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 2rem;

        @media (max-width: 992px) {
          grid-template-columns: 1fr;
        }

        .post {
          position: relative;
          margin-bottom: 2rem;
          h3 {
            z-index: 2;
            margin: 0;
            padding: .5rem;
            position: absolute;
            bottom: 0;
            left: 0;
            color: $white;
            background-color: rgba($black, .8);
            small {
              display: block;
              font-size: 60%;
            }
          }
          img {
            z-index: 1;
            position: relative;
            object-fit: cover;
            width: 100%;
            max-height: 300px;
            height: 100%;
            display: block;
          }
        }
      }
    }

    &.latest {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        grid-template-areas: 'title title title';
        // border-bottom: 1px solid $color-primary;

        @media (max-width: 992px) {
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 'title title';
        }
        @media (max-width: 767px) {
          grid-template-columns: 1fr;
          grid-template-areas: 'title';
        }
        h2 {
          grid-area: title;
          font-size: 2rem;
          margin: 0;
        }
        .news {
          position: relative;
          height: 300px;
          h3 {
            z-index: 2;
            margin: 0;
            padding: .5rem;
            position: absolute;
            bottom: 0;
            left: 0;
            color: $white;
            background-color: rgba($black, .8);
            small {
              display: block;
              font-size: 60%;
            }
          }
          img {
            z-index: 1;
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 300px;
            display: block;
          }
        }
      }
    }

    &.featured {
      .container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        grid-gap: 1rem;
        grid-template-areas: 'title title';
        padding: 1.5rem 0;

        @media (max-width: 992px) {
          grid-template-columns: 1fr;
          grid-template-areas: 'title';
        }

        h2 {
          grid-area: title;
          font-size: 2rem;
          margin: 0;
        }
        .featured-image {
          img {
            object-fit: cover;
            width: 100%;
            max-height: 400px;
            height: 100%;
            display: block;
          }
        }

        .content {
          font-size: 1.25rem;
          line-height: 1.5;

          .more {
            margin-top: 1.5rem;
          }
        }
      }
    }

    &.news-items {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        margin-bottom: 1rem;

        @media (max-width: 992px) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 767px) {
          grid-template-columns: 1fr;
        }
        .news-item {
          position: relative;
          height: 300px;
          h3 {
            z-index: 2;
            margin: 0;
            padding: .5rem;
            position: absolute;
            bottom: 0;
            left: 0;
            color: $white;
            background-color: rgba($black, .8);
            small {
              display: block;
              font-size: 60%;
            }
          }
          img {
            z-index: 1;
            position: relative;
            object-fit: cover;
            height: 300px;
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}

article {
  max-width: 1200px;
  margin: auto;

  @media (max-width: 1200px) {
    max-width: 90%;
  }

  h1 {
    font-size: 3rem;
  }
  .feature-image {
    position: relative;
    margin-bottom: 1.5rem;
    img {
      z-index: 1;
      object-fit: cover;
      max-height: 300px;
      width: 100%;
      height: 100%;
    }
  }
  .content {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

footer {
  background-color: $gray;
  padding: 1rem;
  .inner {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    .nav {
      margin-bottom: 1rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          &+li {
            &::before {
              content: '|';
              color: $color-primary;
              margin-right: .5rem;
            }
          }
        }
      }
    }
  }
}

.blue {
  background-color: $color-secondary;
  color: $white;
  a {
    color: $white;
  }
}