$color-primary: #154776;
$color-secondary: #57718c;
$white: #fff;
$black: #000;
$gray: #cdcdcd;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-secondary;
  }
}

header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid $color-primary;
  @media (max-width: 1200px) {
    max-width: 90%;
  }
  nav {
    ul {
      display: inline;
      margin: 0;
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 1rem;
        a {
          color: $color-primary;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}

main {
  max-width: 1200px;
  margin: auto;
  position: relative;

  @media (max-width: 1200px) {
    max-width: 90%;
  }

  section {

    &.header {
      h2 {
        font-size: 3rem;
      }
      .feature-image {
        position: relative;
        margin-bottom: 1.5rem;
        img {
          display: block;
          z-index: 1;
          object-fit: cover;
          max-height: 300px;
          width: 100%;
          height: 100%;
        }
      }

      &.issue {
        h1 {
          font-size: 3rem;
        }
        .feature-image {
          margin-top: 0;
        }
      }

      &.news {
        border-bottom: 0;
        margin-bottom: 0;
        h1 {
          font-size: 3rem;
          margin: 1.5rem 0 .5rem 0;
        }
      }

      &.home {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-between;
        margin: 1.5rem 0;
        h2 {
          font-size: 3rem;
          z-index: 2;
          position: relative;
          padding: 1.5rem;
          margin: 0;
          background-color: rgba($black, .4);
          color: $white;
        }
        .button {
          position: relative;
          padding: 5px;
          margin: .5rem;
          z-index: 2;
          text-align: right;

          a {
            border: .25rem solid $white;
            padding: 1rem;
            background-color: $color-primary;
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            color: $white;
            font-weight: 700;
            &:hover {
              background-color: $color-secondary;
            }
          }
        }
        .feature-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          max-height: 500px;

          &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: rgba($white, .4);
          }
          img {
            display: block;
            z-index: 1;
            object-fit: cover;
            max-height: 500px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &.intro {
      font-size: 1.25rem;
      line-height: 1.5;
      border-bottom: 1px solid $color-primary;
      padding-bottom: 1.5rem;
    }

    &.issues {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 1rem;
      grid-template-areas: 'title title title';
      border-bottom: 1px solid $color-primary;
      padding-bottom: 1.5rem;
      
      @media (max-width: 992px) {
        grid-template-columns: 1fr;
        grid-template-areas: 'title';
      }

      h2 {
        grid-area: title;
        font-size: 2rem;
        margin: 1.5rem 0 0 0;
      }
      .issue {
        position: relative;
        h3 {
          z-index: 2;
          margin: 0;
          padding: .5rem;
          position: absolute;
          top: 0;
          left: 0;
          color: $white;
          background-color: rgba($black, .8);
        }
        img {
          z-index: 1;
          position: relative;
          object-fit: cover;
          width: 100%;
          max-height: 300px;
          height: 100%;
          display: block;
        }
      }
    }

    &.posts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 2rem;
      .post {
        position: relative;
        margin-bottom: 2rem;
        h3 {
          z-index: 2;
          margin: 0;
          padding: .5rem;
          position: absolute;
          bottom: 0;
          left: 0;
          color: $white;
          background-color: rgba($black, .8);
          small {
            display: block;
            font-size: 60%;
          }
        }
        img {
          z-index: 1;
          position: relative;
          object-fit: cover;
          width: 100%;
          max-height: 300px;
          height: 100%;
          display: block;
        }
      }
    }

    &.latest {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 1rem;
      grid-template-areas: 'title title title';
      // border-bottom: 1px solid $color-primary;
      padding-bottom: 1.5rem;

      @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'title title';
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-template-areas: 'title';
      }
      h2 {
        grid-area: title;
        font-size: 2rem;
        margin: 1.5rem 0 0 0;
      }
      .news {
        position: relative;
        min-height: 300px;
        h3 {
          z-index: 2;
          margin: 0;
          padding: .5rem;
          position: absolute;
          bottom: 0;
          left: 0;
          color: $white;
          background-color: rgba($black, .8);
          small {
            display: block;
            font-size: 60%;
          }
        }
        img {
          z-index: 1;
          position: relative;
          object-fit: cover;
          width: 100%;
          max-height: 300px;
          height: 100%;
          display: block;
        }
      }
    }

    &.featured {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: auto;
      grid-gap: 1rem;
      grid-template-areas: 'title title';
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $color-primary;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
        grid-template-areas: 'title';
      }

      h2 {
        grid-area: title;
        font-size: 2rem;
        margin: 1.5rem 0 0 0;
      }
      .featured-image {
        img {
          object-fit: cover;
          width: 100%;
          max-height: 400px;
          height: 100%;
          display: block;
        }
      }

      .content {
        font-size: 1.25rem;
        line-height: 1.5;

        .more {
          margin-top: 1.5rem;
        }
      }
    }

    &.news-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 1rem;
      margin-bottom: 1rem;

      @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
      .news-item {
        position: relative;
        min-height: 300px;
        h3 {
          z-index: 2;
          margin: 0;
          padding: .5rem;
          position: absolute;
          bottom: 0;
          left: 0;
          color: $white;
          background-color: rgba($black, .8);
          small {
            display: block;
            font-size: 60%;
          }
        }
        img {
          z-index: 1;
          position: relative;
          object-fit: cover;
          width: 100%;
          max-height: 300px;
          height: 100%;
          display: block;
        }
      }
    }
  }
}

article {
  max-width: 1200px;
  margin: auto;

  @media (max-width: 1200px) {
    max-width: 90%;
  }

  h1 {
    font-size: 3rem;
  }
  .feature-image {
    position: relative;
    margin-bottom: 1.5rem;
    img {
      z-index: 1;
      object-fit: cover;
      max-height: 300px;
      width: 100%;
      height: 100%;
    }
  }
  .content {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

footer {
  background-color: $gray;
  padding: 1rem;
  .inner {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    .nav {
      margin-bottom: 1rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          &+li {
            &::before {
              content: '|';
              color: $color-primary;
              margin-right: .5rem;
            }
          }
        }
      }
    }
  }
}